$font-family: "Roboto", "Arial", sans-serif;

$color: #383736;
$color-light: #989691;
$font-size: 14px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet-width: 1439px;
$tablet-width-only: 919px;
$mobile-width: 767px;
